body {
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
    background-color: #9bf6ff;
}

#one {
    background-color: #ffcdb2;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
}

#two {
    background-color: #ffb4a2;
    border-color: #1d3557;
    border-width: 3px;
    border-style: dashed;
    box-sizing: border-box;
    border-left-color:#e63946 ;
    border-left-width: 8px;
    margin: 50px
}

#three {
    background-color: #e5989b;
    border: 4px dashed black;
    box-sizing: border-box;
    border-radius: 50%;
}
h1 {
    color:#e76f51;
    background-color: #e9c46a;
    width: 200px;
    box-sizing: border-box;
    padding-left: 50px;
    margin-bottom: 0;
    margin-top:0;
}

button {
    padding: 30px 20px 30px 20px;
}

span {
    margin-left: 10px;
}