<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Product</title>
</head>

<body>
  <h1>Add A Product</h1>
  <form action="/products" method="POST">
    <label for="name">Product Name</label>
    <input type="text" id="name" name="name" placeholder="product name">
    <label for="price">Price (Unit)</label>
    <input type="number" id="price" name="price" placeholder="number">
    <label for="category" id="category">Select Category</label>
    <select name="category" id="category">
      <option value="fruit">fruit</option>
      <option value="vegetable">vegetable</option>
      <option value="dairy">dairy</option>
    </select>
    <button>Add Product</button>
  </form>
</body>

</html>