body {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}
h2 {
    font-family: 'Itim', cursive;
    font-weight: 500;
}
h3 {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
}

div {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}