
<%- include('partials/head') %> 

  <%- include('partials/navbar') %> 
  <h1>Welcome To The Homepage <%= 'hello world'.toUpperCase() %></h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus incidunt minima alias. Soluta reprehenderit
    quae ratione temporibus unde perferendis similique minima, autem at quia cupiditate praesentium reiciendis eius?
    Earum, eligendi.
    Qui mollitia aspernatur blanditiis nemo dolore ipsa, dolor asperiores deleniti impedit error quas minus sapiente
    laudantium. Iusto sint harum at corporis pariatur tempora animi, aperiam recusandae voluptas, placeat qui nisi.
    Non, voluptatibus. Harum libero impedit vel. Id odio harum nemo magni. A fugiat cumque unde modi ea facilis quasi.
    Ipsum assumenda dignissimos laboriosam et id inventore dolorum vel libero possimus!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quae? Saepe quidem sint quas maxime repellendus
    numquam quaerat deserunt! Sunt illo dolor enim, perspiciatis omnis optio mollitia ipsum qui magnam.
    Quia iste adipisci voluptatem eaque reprehenderit reiciendis natus nihil! Quod, repellendus perspiciatis. Voluptate
    dolore corporis eum necessitatibus alias! Distinctio ducimus dolorum quis? Fugit praesentium delectus provident
    similique blanditiis nemo distinctio.
    Rerum libero fuga blanditiis fugiat? Unde at distinctio, quod dolorum neque voluptatum perferendis explicabo beatae
    maiores ea vel nostrum, ut ducimus doloremque iste voluptatem laborum facere eligendi debitis delectus veritatis.

  </p>
  <%- include('partials/footer') %> 