<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tweets Index</title>
</head>

<body>
  <h1>Tweets</h1>
  <ul>
    <% for(let t of tweets) { %>
      <li>
        <%=t.twitter_comment %> - <b><%= t.twitter_username %></b>
      <a href="/comments/<%=t.id%>">details</a></li></a></li>
      <% } %>
  </ul>
  <a href="/comments/new">New Comment</a>
</body>

</html>